/ {
    aliases {
        env-sensor = &env_sensor;
    };

    buttons {
        compatible = "gpio-keys";
        config_button: button_0 {
            label = "Config Button";
            gpios = <&gpio0 9 GPIO_ACTIVE_LOW>;
        };
    };
};

&i2c0 {
    status = "okay";
    env_sensor: bme680@76 {
        compatible = "bosch,bme680";
        reg = <0x76>;
        label = "BME680";
    };
};
